[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "mpv/.config/mpv/mpv-youtube-quality"]
	path = mpv/.config/mpv/mpv-youtube-quality
	url = git@github.com:jgreco/mpv-youtube-quality.git
[submodule "private"]
	path = private
	url = git@github.com:przempore/private.git
[submodule "firefox-minima"]
	path = firefox-minima
	url = git@github.com:rockofox/firefox-minima.git
